@import url(../main.css);
@import url(../passenger-style/navbar-style.css);


.heading{
    font-size: 25px;
    color: var(--clr-navbar-top);
    margin-bottom: 10px;
}

.summary{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 25px;
    margin-bottom: 25px;
    justify-content: center;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 30px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    background-color: white;
}

.summary .sub-col1{
    color: gray;
}

.summary .sub-col2{
    color: var(--clr-navbar-top);
    font-weight: 600;
}

.summary .v-line{
    color: gray;
    font-size: 20px;
    font-weight: 500;
}

.title{
    display: grid;
    grid-template-columns: 16.5% 20% 20% 15% auto;
    column-gap: 20px;
    margin-bottom: 10px;

    background-color: var(--clr-table-title-bg);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 25px;

    text-align: center;
    font-weight: 500;
}

.result{
    display: grid;
    grid-template-columns: 16.5% 20% 20% 15% auto;
    column-gap: 20px;
    margin-bottom: 10px;

    background-color: var(--clr-white);
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 40px;

    text-align: center;

    cursor: pointer;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-size: 15px;
}

.result:hover{
    background-color: var(--clr-table-result-hover);
    transition: 0.3s;
}

.result > span > i{
    font-size: 20px !important;
    color: gold;
}

.result .responses{
    font-size: 12px;
    padding-left: 5px;
    color: gray;
}

.result .capacity{
    font-size: 13px;
    color: gray;
}

.btn{
    display: flex;
    justify-content: right;
}

.btn > button{
    margin-top: 10px;
    width: 130px;
    height: 40px;
    border-radius: 5px;

    font-size: 15px;
    font-weight: 400;
    color: var(--clr-white);
    background-color: var(--clr-button);
    border: none;

    cursor: pointer;
}

.btn > button:hover{
    background-color: var(--clr-button-hover);
    transition: 0.3s;
}

.no-data{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: var(--clr-no-data-to-display);
}

.no-data > i{
    font-size: 80px;
    margin-bottom: 10px;
}

.no-data > span{
    font-size: 25px;
    font-weight: 400;
}

.main .result-link{
    text-decoration: none;
    color: black;
}