@import url(../main.css);
@import url(../passenger-style/navbar-style.css);

.main{
    /* padding: 4.345rem 1rem 1rem 1rem; */
    padding: 5.345rem 1rem 1rem 1rem;
}

/* .main p{
    text-align: justify;
    margin-bottom: 10px;
}

.main h1{
    margin-bottom: 5px;
} */

.form{
    background: rgb(240, 240, 240);
    width: 40%;
    height: auto;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    border-radius: 10px;
    padding: 15px 25px 25px 25px;
    box-sizing: border-box;
}

.form h1{
    text-align: center;
    font-size: 25px;
    margin-bottom: 8px;
    color: #141E61;
}

.form label{
    padding-left: 10px;
}

.form sup{
    color: red;
    font-weight: bold;
}

.form span{
    color: red;
    font-size: 14px;
    font-style: italic;
    padding-left: 10px;
}

.form select{
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 40px;
    font-size: 15px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 3px;
    cursor: pointer;
}

.form input{
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 40px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 5px;
    margin-top: 3px;
    cursor: pointer;
}

.form .from, .to, .date, .count{
    /* background: blue; */
    margin-bottom: 5px;
    width: 100%;
}

.form button{
    width: 30%;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    font-weight: bold;
    background: #141E61;
    /* background: blue; */
    border: none;
    color: #fff;
}

.form .btn{
    align-items: center;
    position: relative;
    left: 70%;
}

