@import url(../main.css);
@import url(../passenger-style/navbar-style.css);

form{
    background-color: var(--clr-white);
    height: auto;
    width: 35%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

form > .heading{
    font-size: 25px;
    color: var(--clr-navbar-top);
    text-align: center;
    margin-bottom: 10px;
}

form > .from, form > .to, form > .date, form > .count{
    width: 100%;
    margin-bottom: 10px;
}

form label{
    font-weight: 500;
    font-size: 16px;
    padding-left: 10px;
}

form input{
    width: 100%;
    border: none;
    border-radius: 5px;
    background: var(--clr-input-field);
    height: 40px;
    color: black;
    font-size: 15px;
    margin-top: 2px;
    padding-left: 10px;
    padding-right: 10px;

    cursor: pointer;
}

form select{
    width: 100%;
    border: none;
    border-radius: 5px;
    background: var(--clr-input-field);
    height: 40px;
    color: black;
    font-size: 15px;
    margin-top: 2px;
    padding-left: 10px;
    padding-right: 10px;

    cursor: pointer;
}

form input:focus, form select:focus{
    outline: 2px solid var(--clr-input-outline);
}

form > .btn{
    display: flex;
    justify-content: right;
}

form > .btn > button{
    margin-top: 5px;
    width: 130px;
    height: 40px;
    border-radius: 5px;

    font-size: 16px;
    font-weight: 400;
    color: var(--clr-white);
    background-color: var(--clr-button);
    border: none;

    cursor: pointer;
    font-size: 15px;
}

form > .btn > button:hover{
    background-color: var(--clr-button-hover);
    transition: 0.3s;
}

form .err{
    font-size: 13px;
    color: var(--clr-error);
    padding-left: 10px;
}