@import url(../main.css);
@import url(../passenger-style/navbar-style.css);

.heading{
    font-size: 25px;
    color: var(--clr-navbar-top);
    margin-bottom: 10px;
}

.no-data{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: var(--clr-no-data-to-display);
}

.no-data > i{
    font-size: 80px;
    margin-bottom: 10px;
}

.no-data > span{
    font-size: 25px;
    font-weight: 400;
}


