@import url(../main.css);

body{
    /* background-color: var(--clr-bg); */

    width: 100%;
    height: 100vh;
    background-image: url(../../img/main-background.jpg);
    background-size: cover;
    background-position: center;
}