@import url(../main.css);
@import url(../passenger-style/navbar-style.css);

.content{
    /* margin-left: 200px;
    margin-right: 200px; */

    width: 55%;
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
}

.content .heading{
    font-size: 25px;
    color: var(--clr-navbar-top);
    margin-bottom: 10px;
    /* margin-top: 40px; */
}

.content .pro-details{
    display: grid;
    /* grid-template-columns: 50% 50%; */
    grid-template-columns: 45% 55%;
    align-items: center;

    height: 40vh;

    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    margin-bottom: 10px;
}

.content .pro-details .left{
    /* height: 80%;
    width: 75%;
    position: relative;

    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); */

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.content .pro-details .left img{
    /* max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    border-radius: 100%; */

    border-radius: 100%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.content .pro-details .right .name{
    font-size: 20px;
    font-weight:600;
    text-align: center;

    margin-bottom: 10px;
}

.content .pro-details .right .details{
    margin-bottom: 15px;
}

.content .pro-details .right .details .row{
    display:  grid;
    grid-template-columns: 25% 60%;
    justify-content: center;
    line-height: 30px;
}

.content .pro-details .right .details .row .col1{
    font-weight: 450;
}

.content .pro-details .right .btn{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.content .pro-details .right .btn button{
    width: 120px;
    height: 25px;
    cursor: pointer;
}

.content .pro-details .right .btn .delete{
    color: red;
    border: 1px solid red;
    border-radius: 5px;
}

.content .pro-details .right .btn button:hover{
    background-color: var(--clr-table-title-bg);
    transition: 0.3s;
}

.content .pro-details .right .btn .edit{
    color: var(--clr-navbar-top);
    border: 1px solid var(--clr-navbar-top);
    border-radius: 5px;
}

.content .pro-summary{
    display: grid;
    grid-template-columns: 49% 49.5%;
    column-gap: 10px;
}

.content .pro-summary .left{
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    padding-top: 20px;
    padding-bottom: 20px;
    
    display: grid;
    grid-template-columns: 50% 50%;
}

.content .pro-summary .left .journeys{
    text-align: center;
}

.content .pro-summary .left .col1{
    font-weight: 450;
}

.content .pro-summary .left .cancellations{
    text-align: center;
}

.content .pro-summary .right{
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
    padding-top: 20px;
    padding-bottom: 20px;

    text-align: center;
}

.content .pro-summary .right .col1{
    font-weight: 450;
}