@import url(../main.css);
@import url(../passenger-style/navbar-style.css);

.content{
    margin-left: 120px;
    margin-right: 120px;
}

.content .heading{
    font-size: 25px;
    color: var(--clr-navbar-top);
    margin-bottom: 10px;
    /* margin-top: 10px; */

    background-color: aqua;
}