@import url(../main.css);
@import url(../passenger-style/navbar-style.css);


.main .content{
    /* margin-left: 160px;
    margin-right: 160px; */

	width: 60%;
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
}

.main .content .heading{
	font-size: 25px;
	color: var(--clr-navbar-top);
	margin-bottom: 15px;
}
  
.main .content .details{
	display: grid;
	grid-template-columns: 41% 56%;
	column-gap: 20px;
}

.main .content .details .left{
	/* background-color: rgb(230, 230, 230); */
	/* background-color: white; */
	background-color: rgb(240, 240, 240);
	padding-left: 15px;
	padding-right: 20px;
	padding-bottom: 10px;
	border-radius: 10px;
	border: 1px solid gray;
}

.main .content .details .right{
	/* background-color: blue; */
}

.main .content .details .left .front{
	text-align: center;
	/* background-color: gray; */
	
	padding-top: 20px;
	font-weight: 500;
}

/* .main .content .details .left .seats{
	background-color: gray;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
} */

.main .content .details .left .row{
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	justify-content: center;
	align-items: center;
	column-gap: 5px;

	/* background-color: aqua; */
}

.main .content .details .left .col{
	display: grid;
	grid-template-columns: 35% 65%;
	align-items: center;
	justify-content: right;
}


.main .content .details .left i{
	font-size: 35px;
	color: #66FF00;
}

.main .content .details .left .snum{
	text-align: center;
	font-size: 15px;
	/* background-color: green; */
}

.main .content .details .left .seat{
	/* background-color: red; */
	text-align: center;
}

.main .content .details .left .row{
	margin-top: 30px;
}