@import url(../main.css);
@import url(../passenger-style/navbar-style.css);


.main .content{
    /* margin-left: 160px;
    margin-right: 160px; */

	width: 60%;
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
}

.main .content .heading{
	font-size: 25px;
	color: var(--clr-navbar-top);
	margin-bottom: 15px;
}
  
.main .content .details{
	display: grid;
	grid-template-columns: 40% 60%;
}

.main .content .details .left{
	background-color: yellow;
}

.main .content .details .right{
	background-color: blue;
}

.main .content .details .left .row{
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
}

.main .content .details .left i{
	font-size: 40px;
}