@import url(../main.css);

body{
    background-color: rgb(240, 240, 240);
}

.content{
    width: auto;
    height: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: red; */
}

.content h1{
    font-size: 150px;
    text-align: center;
}

.content p{
    font-size: 40px;
    text-align: center;
    font-weight: 50px;
}