.notice-model{
    background-color:rgba(0, 0, 0, 0.731);
    border-radius: 2rem;
    max-height: 500px;
    max-width: 800px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
   
    /* transform: translate(-50%, -50%) scale(0.1); */ 
}
.model{
    padding: 2rem; 
    display: flex;  
    max-width: 100%;
    justify-content: space-between;
    height: 80%;

}
.top-form{
    /* position: relative; */
    display: flex;
    justify-content: space-between;
}
.closemodel{
    /* position: absolute; */
    top: 0;
    right: 0;
    font-size: 25px;
    cursor: pointer;    
    color: #fff;
}


.btns{
    padding: .7rem;
    background-color: green;
    color: #fff;
    border-radius: .75rem;
    border-style: none;
    width: 90%;
    cursor: pointer;
    font-weight: bold;
}


.notice-modal {
    width: 40%;
    top:50%;
    left: 50%;
    padding: 2rem;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(0, 0, 0, 0.356);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.185);
}

.notice-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.notice-container > form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.notice-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.notice-header > h1 {
    text-transform: uppercase;
}

.notice-header> button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.notice-header> button > i {
    font-size: 1.5rem;

}

.notice-container > form > .date {
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-size: 1.1rem;
    margin: 0;
    width: 100%;
}
.notice-container > form > .date > .valid_period, .fromD, .toD{
    text-transform:capitalize;
    font-weight: bold;
}
.notice-container > form > input {
    padding: 0.7rem;
    font-size: 1.1rem;
}

.notice-container > form > textarea {
    padding: 0.7rem;
    height: 200px;
    font-size: 1.1rem;
}

.notice-container > form > button {
    padding: 0.7rem 1.5rem;
    /* margin: 0 auto; */
    font-size: 1.1rem;
    border: none;
    background-color: rgb(19, 174, 89);
    color: #fff;
    border-radius: 5px;
}

#staff{
    filter: grayscale(1);
}


/* =======  Available users  ========= */
.available_users{
    display: flex;
    gap: 2rem;
}
.available_users > .ttl{
    font-weight: bold;
}