/* imported style sheets */
@import url(../main.css);
@import url(../admin-style/admin-navbar.css);


/* main style of the web page */
.main{
    /* padding: 4.345rem 1rem 1rem 1rem; */
    padding: 5.345rem 1rem 1rem 1rem;
    background-color: #ffffff;
}


/* styles for admin viwing pages */
h1{
    color: #141E61;
    margin-left: 40px;
    margin-top: 25px;
}

hr{
    margin-left: 40px;
    margin-top: 5px;
    width: 1224px;
    height: 3px;
    color: #141E61;
    background-color: #141E61;
}

.full-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 94%;
    margin-left: 40px;
    margin-top: 40px;
    
    box-shadow: 0 0 10px rgb(174, 174, 174);
  }
  
  .full-table td, .full-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .full-table tr:nth-child(even){background-color: #f2f2f2;}
  
  .full-table tr:hover {background-color: #ddd;}
  
  .full-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #18236f;
    color: white;
  }


.dashboard-content{
  
  margin-left: 40px;
  border-radius: 8px;
  margin-top: 30px;
}

.dashboard-box{
  padding: 40px 40px;
  margin-top: 20px;
  margin-right: 40px;
  border-radius: 8px;
  color: #213095;
  font-size: 17px;
  border: none;
  background-color: rgb(244, 244, 244);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.448);
  /* border: 1px solid #3498db; */
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  
}

.dashboard-box:hover{
  
  background-color: #dadada;
  transition: 0.8s;
  color: #ffff;
  

}

.add-new-staff-member-box{
  padding: 20px 20px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 8px;
  color: #213095;
  font-size: 17px;
  border: none;
  background-color: rgb(244, 244, 244);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.448);
  /* border: 2px solid #213095; */
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.add-new-staff-member-box:hover{
  background-color: #213095;
  transition: 0.8s;
  color: #ffff;
}

a{
  text-decoration: none;
}

.dashboard-upper-content{
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 20px;
}

.dashboard-lowwer-content{
  display: flex;
  align-items: center;
  justify-content: left;
}

.delete-btn{

  margin: 5px 5px 5px 5px;
  padding: 10px 15px;
  background-color: rgb(255, 175, 114);
  border: none;
  border-radius: 3px;
  color: #ffff;
  font-size: 15px;
  cursor: pointer;
  transition: 0.6s;
  position: relative;
  overflow: hidden;
}

.delete-btn:hover{

  background-color: rgb(255, 42, 0);
  transition: 0.6s;
  color: #ffff;

}

.reset-btn{
  margin: 5px 5px 5px 5px;
  padding: 10px 15px;
  background-color: rgb(114, 114, 255);
  border: none;
  border-radius: 3px;
  color: #ffff;
  font-size: 15px;
  cursor: pointer;
  transition: 0.6s;
  position: relative;
  overflow: hidden;

}

.reset-btn:hover{
  background-color: rgb(76, 0, 255);
  transition: 0.6s;
  color: #ffff;

}


/* dasuni remove user dashboard */

.container{
  padding-left: calc(var(--sidebar-area) + 1rem);
  padding-right: 1rem;
  padding-top: 4.375rem;
  height: 100vh;
  
}

.container p{
  text-align: justify;
  margin-bottom: 10px;
}
.container h1{
  color: var(--clr-bg);
  margin-bottom: 1rem;
  padding-left: 0px;

  
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1rem 2rem;
}

.grid-items{
  min-height: 180px;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-decoration: none;
  transition: all 0.8s ease-in-out;
}

.grid-items:hover {
  background-color: var(--clr-bg);
}

.grid-items i {
  color: #000000;
  font-size:  3.5rem;
}

.grid-items p {
  font-size: 1.3rem;
  color: #3b3b3b;
}

.grid-items:hover p, .grid-items:hover i{
  color: #fff;
}

/* add staff member button style */

.add_staff_member_button{
  height: 70px;
  padding: 10px 10px;
  margin-top: 15px;
  background-color: #dddddd;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.8s ease-in-out;
  margin-left: auto;
  margin-right: 40px;
}

.add_staff_member_button:hover {
  background-color: var(--clr-bg);
}

.add_staff_member_button i {
  color: #000000;
  margin-top: 5px;
  font-size:  2rem;
}

.add_staff_member_button p {
  font-size: 1rem;
  color: #3b3b3b;
}

.add_staff_member_button:hover p, .add_staff_member_button:hover i{
  color: #fff;
}


.add_new_staff_member_form{
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 250, 250);
  /* padding: 30px 30px; */
  /* margin: 0 300px 0 300px; */
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgb(159, 159, 159);
  margin: 10px 300px 0 300px;
}

.add_new_staff_member_title{
  margin-left: 23%;
  margin-bottom: 20px;
  color: #213095;
  
}

.add_new_staff_member_input{
  padding: 7px 0;
  /* margin-bottom: 15px; */
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 5px;
  /* margin: 0 30px 0 30px; */
  border-radius: 5px;
  border: 0px solid black;
  background-color: #d3d3d397;
}

.add_new_staff_member_label{
  margin-left: 75px;
  margin-top: 20px;
}

.add_staff_member_submit_button{
  padding: 10px 60px;
  margin: 20px 40px 20px 40px;
  border-radius: 5px;
  background-color: #141e619d;
  color: #fff;
  font-size: 15px;
  border: none;
}

.add_staff_member_reset_button{
  background-color: rgba(255, 0, 0, 0.633);
  padding: 10px 60px;
  margin: 20px 40px 20px 40px;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  border: none;
}

.submit-reset-buttons{
  display: flex;
  justify-content: center;

}

.page-header{
  margin-left: 0;
  margin-top: 0;
}

/* .average-details-boxes{
  display: flex;
  margin-left: 40px;
  margin-top: 10px;

}

.average-details-sub-box{
  margin-left: 0;
  margin-right: 40px;
  background-color: #f1f1f1;
  padding: 10px 100px;
  
} */


/* 
.sub-sub{
  display: flex;
  flex-direction: column;
}

.sub-sub i {
  color: #3c69ff;
  font-size:  2rem;
  display: flex;
  align-items: center;
  justify-content: center;
} */



.Admin-count{
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Admin-count-names{
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #737373;
}

.page-header{
  font-size: 32px;

}

/* .down-details-left-box{
  background-color: #f1f1f1;
  padding: 200px 400px;
  margin-right: 20px;
  margin-top: 10px;
}

.down-details-right-box{
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  padding: 200px 200px;
  margin-top: 10px;
  
}

.average-details-down-box{
  display: flex;
  flex-direction: row;
  margin-left: 40px;

} */

/* .down-details-left-box-up{
  background-color: #f1f1f1;
  padding: 105px 250px;

}
.down-details-left-box-down{
  background-color: #f1f1f1;
  padding: 105px 250px;
  margin-top: 20px;
} */



/* for users searching bar and sorting bar  */

.searching-and-sorting{
  display: flex;
  justify-content: end;

}

.sorting{
  padding: 10px 180px;
  background-color:#ffffff;
  margin-right: 37px;
}

/* search bar styles */
.searching{
  padding: 5px 5px;
  justify-content: center;
  position: relative;
  width: 35%;
  justify-self: center;
  margin-left: 40px;
}

.searching input{
  width: 100%;
  height: 40px;
  padding: 0 40px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #ecececa7;
}

.searching i{
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;

}


.content-heading{
  display: flex;
  flex-direction: row;
  
}

.content-heading h1{
  color: #213095;
}

.vl {
  border-left: 2px solid rgb(246, 246, 246);
  height: 40px;
}

/* admin dashboard upper cards */

.admin-cards{
  width: 100%;
  padding: 35px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.admin-cards .admin-card{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.admin-number{
  font-size: 35px;
  font-weight: 500;
  color: #394cc6;
}

.admin-card-name{
  color: #888;
  font-weight: 600;
}

.admin-icon-box i{
  font-size: 45px;
  color:#213095;
}

/* admin dashboard charts styles */

.second-line-charts{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  padding: 20px;
  padding-top: 0;
}

.second-line-sub-chart{
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  width: 100%;
  margin-bottom: 20px;
}

.admin-charts{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  width: 100%;
  padding: 20px;
  padding-top: 0;
}

.admin-chart{

  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  width: 100%;
  margin-bottom: 20px;

}

.admin-chart-box{
  padding: 20px;
}

.admin-chart-heading{
  padding: 0px 20px;
}


.admin-charts-pair{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  width: 100%;
  padding: 20px;
  padding-top: 0;
}

.admin-chart-pair{

  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  width: 100%;
  margin-bottom: 20px;

}

/* .admin-charts-doughnut{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  width: 100%;
  padding: 20px;
  padding-top: 0;

}

.admin-chart-doughnut{
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  width: 75%;
  margin-bottom: 20px;

} */

.admin-chart-pair .admin-chart-doughnut-heading{
  color: #48539b;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;

}

.history_admin_charts{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
}

.history_admin_chart{
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  width: 50%;
  margin-bottom: 20px;
  margin-right: 10px;
}

.admin-chart h2, .admin-chart-pair h2{
  color: #48539b;
}
.history_admin_chart h2{
  color: #48539b;
}

/* users monthly bar chart */

.new-add-user-bar-chart{
  background-color: #fff;
  height: 370px;
  margin: 10px 35px 10px 35px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 30px 30px 50px 30px;
}

/* reset user pages table style and pop up message styles */
.deleted-row {
  background-color: rgba(249, 34, 34, 0.3) !important;
}


.resetPopup{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 220px;
  border: none;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
}

.resetPopup-contianer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.resetPopup::backdrop{
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(1px) grayscale(1);

}

.resetPopup button {
  width: 75px;
  margin-inline: 20px;
}

.resetPopup h1, .resetPopup p  {
  margin: 0;
  text-align: center;
}


/* admin report styles */

/* .report-containers{
  display: flex;
  flex-direction: row;

} */

.report-container{

  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  padding-top: 0;
  margin-top: 20px;
  

}


.report-sub-container{

  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  width: 100%;
  margin-bottom: 10px;
 
}

.report-container .report-sub-container .report-container-form{

  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  margin: 5px 30px 5px 30px;

}

.report-container .report-sub-container .report-container-heading{
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  margin-bottom:20px;
  color: #404989;
}

.report-container .report-sub-container .datapicker_report{
  margin-bottom: 30px;
}

.report-container .report-sub-container .report_date_la{
  margin-top: 7px;
  margin-right: 3px;
}

.report-container .report-sub-container .report-container-form-input-labels{
  display: flex;
  flex-direction: row;
  
}

.report-container .report-sub-container .report-container-form-input-labels .datapicker_report{

  width: 175px;
  border: white;
  border-radius: 5px;
  background: rgb(230, 230, 230);
  height: 40px;
  color: black;
  font-size: 15px;
  margin-top: 2px;
  /* margin-bottom: 2px; */
  padding-left: 10px;
  padding-right: 10px;
}

.report-container .report-sub-container .report-container-form-input-labels input{
  margin-right: 20px;
}

.report-container .report-sub-container .report-container-form-input-labels .report_date_la{
  font-weight: 500;
  font-size: 16px;
  padding-right: 10px;
  font-style: normal;
}

.search-button button{

  width: 200px;
  padding: 8px 0 8px 0;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid rgba(4, 1, 153, 0.7);
  background: transparent;
  color: rgba(4, 1, 153, 0.7);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  margin-left: 20px;

}

.search-button span{
  background:rgba(4, 1, 153, 0.7);
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.search-button button:hover span{
  width: 100%;
}

.search-button button:hover{
  border: 2px solid transparent;
  color: white;
  background-color:rgba(4, 1, 153, 0.7);
  border:rgba(4, 1, 153, 0.7);
  
}

.generation-buttons a{

  padding: 8px 15px 8px 15px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid rgb(189, 167, 0);
  background: transparent;
  color: rgb(189, 167, 0);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  margin-left: 20px;


}

.generation-buttons span{
  background: black;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.generation-buttons a:hover span{
  width: 100%;
}

.generation-buttons a:hover{
  border: 2px solid transparent;
  color: rgba(255, 255, 255, 0.908);
  background-color:  rgba(189, 167, 0, 0.808) ;
  border: #000000;
  
}

.two-button{
  display: flex;
  flex-direction: row;
  margin-left: 150px;
}









.report-container-form-input-labels select{
  width: 100px;
  border: white;
  border-radius: 5px;
  background: rgb(230, 230, 230);
  height: 40px;
  color: black;
  font-size: 15px;
  padding-left: 6px;
  margin-top: 2px;
  cursor: pointer;
}

.report-container-form-input-labels option{
  color: black;
  font-size: 15px;
}

.report-container-form-input-labels select:focus{
  outline: 2px solid #00BFFF;
  border: 2px solid transparent;
}



/* admin profile styles */

.pro-details{
  background-color: #737373;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 50px, rgba(0, 0, 0, 0.23) 0px 3px 50px;

  display: flex;
  flex-direction: column;
  
}

.pro-details .left{
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.pro-details .left img{
    max-width: 10%;
    max-height: 10%;
    /* min-width: 10%;
    min-height: 10%; */
    object-fit: cover;
    align-items: center;
    border-radius: 20px;
    margin-top: 10px;


}

































/* admin profile styles */

/* .content{
    margin-left: 200px;
    margin-right: 200px;
} */

/* .heading{
    font-size: 25px;
    color: var(--clr-navbar-top);
    margin-bottom: 10px;
    margin-top: 40px;
}

.pro-details{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 45vh;
  margin-top: 50px;
    
}

.pro-details .left{

    /* position: relative; */


 

/* .pro-details .left img{
    max-width: 100%;
    max-height: 100%;
    min-width: 75%;
    min-height: 75%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
} */


/* .pro-details .right{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

} */
/* .pro-details .right .name{
    font-size: 20px;
    font-weight:600;
    text-align: center;

    margin-bottom: 10px;
} */

/* .pro-details .right .details{
    margin-bottom: 15px;

    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 50px, rgba(0, 0, 0, 0.23) 0px 3px 50px;
    margin-left: 40px;
  
    height: 47vh;
    padding: 25px 20px 25px 20px;
    width: 35VW;
} */

/* .pro-details .right .edit-profile-delete-profile-buttons{
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  width: 35vw;
  margin-left: 40px;
  height: 10vh;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

} */

/* .pro-details .right .details .row{
    display:  grid;
    grid-template-columns: 25% 60%;
    justify-content: center;
    line-height: 40px;
    width: 900px;
} */

/* .pro-details .right .details .row .col1{
    font-weight: 450;

} */


/* .pro-details .right .edit-profile-delete-profile-buttons .btn{

  padding: 0 10px 0 10px;

} */
/* .pro-details .right .edit-profile-delete-profile-buttons .btn button{
    width: 120px;
    height: 37px;
    cursor: pointer;
    padding: 0 10px 0 10px;
}

.pro-details .right .edit-profile-delete-profile-buttons .btn .delete{
    color: red;
    border: 1px solid red;
    border-radius: 5px;
}



.pro-details .right .edit-profile-delete-profile-buttons .btn .delete:hover{

    background-color: rgba(255, 0, 0, 0.689);
    color: white;
    transition: 0.3s;
}

.pro-details .right .edit-profile-delete-profile-buttons .btn .edit{

  color: rgb(0, 42, 255);
  border: 1px solid  rgb(0, 42, 255);
  border-radius: 5px;

}

.pro-details .right .edit-profile-delete-profile-buttons .btn .edit:hover{

  background-color: rgb(0, 42, 255, 0.689);
  color: white;
  transition: 0.3s;
} */

