@import url(../main.css);
@import url(./navbar-style.css);

body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
                        rgba(0,0,0,0.65), 
                        rgba(0,0,0,0.65)
                    ), 
                    url(../../img/index-background.jpg);
    background-size: cover;
    background-position: center;
}

.content{
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.content h1{
    font-size: 2.813rem;
}

.content p{
    font-size: 1.25rem;
    margin: 0.625rem 0;
}

.content .btn{
    margin: 1.5625rem 0 1.5625rem 0;
}

.content button{
    width: 12.5rem;
    padding: 0.75rem 0 0.75rem 0;
    text-align: center;
    margin: 0 0.625rem 0 0.625rem;
    border-radius: 1.5625rem;
    font-weight: bold;
    border: 0.125rem solid #00BFFF;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
}

.content span{
    background: #00BFFF;
    height: 100%;
    width: 0;
    border-radius: 1.5625rem;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.content button:hover span{
    width: 100%;
}

.content button:hover{
    border: none;
}