.navbar{
    width: 100%;
    margin: auto;
    padding: 1.25rem 1.5625rem 1.25rem 1.5625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.navbar img{
    height: 1.875rem;
    width: auto;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin-left: 1.5625rem;
    position: relative;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar ul li::after{
    content: '';
    height: 0.1875rem;
    width: 0;
    background: #00BFFF;
    position: absolute;
    left: 0;
    bottom: -0.625rem;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}