@import url(../main.css);
@import url(./navbar-style.css);

body{
    width: 100%;
    /* height: 100vh; */
    background-image: linear-gradient(
                        rgba(0,0,0,0.65), 
                        rgba(0,0,0,0.65)
                    ), 
                    url(../../img/terms-conditions-background.jpg);
    background-size: cover;
}

.details{
    color: white;
    text-align: justify;
    padding: 0 1.5625rem 0.9375rem 1.5625rem;
}

.details h1{
    font-size: 1.875rem;
}

.details h2{
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
    margin-top: 0.9375rem;
}

.details ul{
    padding-left: 0.9375rem;
    padding-bottom: 0.625rem;
}

.details li{
    padding-bottom: 0.5rem;
}

.details table, tr, td{
    border: 0.0625rem solid white;
}

.details table{
    border-collapse: collapse;
    margin-bottom: 1.25rem;
    margin-left: 0.9375rem;
}

.details td{
    padding: 0.3125rem;
}

.details .col1{
    width: 35%;
}

.details .col2, .col3, .col4{
    text-align: center;
}
